<!DOCTYPE html>
<html>
  <head>
    <title>TOP@LOVE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1> <a href="/">TOP@LOVE</a> </h1>
    </header>

    <%- body -%>

    <footer>
      <p> By Frankie and MacSlymo </p>
    </footer>
  </body>
</html>
