<h2 class="title"> Select your category</h2>

<br>
<br>

<h3 class="sub-menu"> Movies </h3>

<br>
<div class="row">
  <div class="col-xs-4"><img class="category-slot" src="https://s-media-cache-ak0.pinimg.com/236x/85/f4/3c/85f43c8d6617374e4f9bc575645098ee--s-decorations-reunion-decorations.jpg" alt="80s"></div>
  <div class="col-xs-4"><img class="category-slot" src="https://s-media-cache-ak0.pinimg.com/736x/d5/0c/6b/d50c6bdf4aa372b7926cb72b5483b512--music-heart-s-nostalgia.jpg" alt="90s"></div>
  <div class="col-xs-4"><img class="category-slot" src="http://podcast.ara.lu/wp-content/uploads/2015/08/scaletowidth.jpeg" alt="2000s"></div>
</div>
<br>
<br>
<br>
<br>

<h3 class="sub-menu"> Video Games </h3>

<br>
<div class="row">
  <div class="col-xs-4"><img class="category-slot" src="https://s-media-cache-ak0.pinimg.com/originals/69/8e/86/698e865c2c88c571968f117691c2e886.jpg" alt="PS4"></div>
  <div class="col-xs-4"><img class="category-slot" src="http://realgamemedia.com/wp-content/uploads/2016/06/Xbox-one-logo-2.jpg" alt="XBOX1"></div>
  <div class="col-xs-4"><img class="category-slot" src="https://i.ytimg.com/vi/iTadxMf75As/maxresdefault.jpg" alt="SWITCH"></div>
</div>
<br>
<br>
