<div class="containerBoard">

  <h3>Decades</h3>

  <!-- <h3><i class="fa fa-film" aria-hidden="true"></i> Movies </h3> -->

  <div class="d-flex flex-column flex-xl-row justify-content-xl-center icones">
    <a href="/versus/80" class="tile btn">
      <h2 class="eigth">80'sq</h2>
    </a>
    <a href="/versus/90" class="tile btn">
      <h2 class="nine">90's</h2>
    </a>
    <a href="/versus/2000" class="tile btn">
      <h2 class="ten">00's</h2>
    </a>
  </div>


</div>