
<div class="containerBoard">

<h2>Decades</h2>

<!-- <h3><i class="fa fa-film" aria-hidden="true"></i> Movies </h3> -->

<div class="d-flex flex-column flex-xl-row justify-content-xl-center icones">
  <a href="/versus/80" class="tile btn">
  <div class="eigth">
    <img src="/img/eighty.png" alt="80s">
  </div>
</a>
<a href="/versus/90" class="tile btn">
  <div class="nine">
    <img src="/img/ninety.png" alt="90s">
  </div>
</a>
<a href="/versus/2000" class="tile btn">
  <div class="ten">
    <img src="/img/aughts.png" alt="2000s">
  </div>
</a>
</div>


</div>
