<div class="home">
  <h2 class="welcomeHome"> Welcome! <br> Make a New Top or See your Profile ?</h1> <br>

  <div class="d-flex flex-column flex-lg-row justify-content-center menuChoice">
    <a href="/categories" class="btn btn-secondary btn-lg choice"><i class="fa fa-balance-scale" aria-hidden="true"></i> Play_Top </a>
    <a href="/toplist" class="btn btn-outline-secondary btn-lg choice"><i class="fa fa-list-ol" aria-hidden="true"></i> Top_List </a>
  </div>
</div>
