<div class="home">
  <h1> Make a New Top or See your Profile ?</h1> <br>

  <div class="login">
    <a href="/categories" class="btn btn-warning btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i> Make a New Top </a>
    <a href="/profile" class="btn btn-outline-warning btn-lg"><i class="fa fa-user-plus" aria-hidden="true"></i> My Profile </a>
  </div>
</div>
