<div class="home">
  <h1> Welcome Make a New Top or See your Profile ?</h1> <br>

  <div class="login">
    <a href="/categories" class="btn btn-secondary btn-lg"><i class="fa fa-balance-scale" aria-hidden="true"></i> Play_Top </a>
    <a href="/profile" class="btn btn-outline-secondary btn-lg"><i class="fa fa-list-ol" aria-hidden="true"></i> Top_List </a>
    <a href="/versus00" class="btn btn-outline-secondary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Watch_List </a>
  </div>
</div>
