<div class="home">
  <h1> Welcome to TOP@LOVE</h1> <br>
  <h2>The place where you can make   <i class="fa fa-list" aria-hidden="true"></i> Top_List of movies intuitively <br>
  <br> And create a   <i class="fa fa-film" aria-hidden="true"></i> <b>Watch_List</b> for unseen movies </h2><br>

  <div class="d-flex justify-content-center">
    <a href="/login" class="btn accueil btn-outline btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a>
    <a href="/signup" class="btn accueil btn-lg"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up </a>
  </div>
</div>
<footer>
  <p> By FranKIE and MacSlymo </p>
</footer>
