<div class="home">
  <h1> Welcome to TOP@LOVE</h1> <br>
  <h2>The place where you can make   <i class="fa fa-list" aria-hidden="true"></i> Top_List of movies intuitively <br>
  <br> And create a   <i class="fa fa-film" aria-hidden="true"></i> <b>Watch_List</b> for unseen movies </h2><br>

  <div class="login">
    <a href="/login" class="btn btn-outline-warning btn-lg">Login</a>
    <a href="/signup" class="btn btn-warning btn-lg">Sign Up</a>
    
    <!-- <button onclick="window.location.href='/login'" type="button" class="btn btn-outline-warning btn-lg">Login</button>
    <button onclick="window.location.href='/signup'" type="button" class="btn btn-warning btn-lg">Signup</button>
    -->
    <!-- <ul>
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    </ul> -->
  </div>


</div>
