<div class="log">

<h2 class="title"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In </h2><br>
<form action="/login" method="post">
  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>
  <div>
    <input type="email" name="email" id="email-input"
      placeholder="Email">
  </div>


  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>
  <div>
    <input type="password" name="password" id="password-input"
      placeholder="Password">
  </div>

  <button class="btn icon-btn send"> Log In </button>
</form>

</div>
