<div class="home">
  <h1> Are you sure you want to logout ?</h1> <br>
  <h2> We know where you live you know ...</h2><br>

  <form action="/logout" method="POST">
    <button class="btn btn-warning btn-lg" type="submit">Logout</a>
  </form>
</div>
