<div class="log">

<h2 class="title"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up </h2><br>

<form action="/signup" method="post">
  <div>
    <input type="text" name="name" id="name-input"
      placeholder="User Name">
  </div>

  <div>
    <input type="email" name="email" id="email-input"
      placeholder="Email">
  </div>

  <div>
    <input type="password" name="password" id="password-input"
      placeholder="Password">
  </div>

  <button class="button"> Create New Account</button>
</form>

</div>
