<a href="/choice" class="arrow btn btn-lg"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <h1 class="title"> Versus </h1>

  <div class="d-flex justify-content-center flex-column align-items-sm-center flex-sm-row">
    <div class="d-flex align-items-center">
      <div class="align-self-center">
        <ol>
          <% for (var i=0; i<itemList.length; i++) { %>
          <li> <%= itemList[i].movieID.title %></li>
          <% } %>
        </ol>
      </div>
      <div class="align-self-center">
        <img class="vs" src="https://vignette1.wikia.nocookie.net/deathbattlefanon/images/0/0a/Vs_logo.png/revision/latest?cb=20160707222803&format=original" alt="VS" >
      </div>
      <div class="align-self-center">
        <img class="vs" src="https://vignette1.wikia.nocookie.net/deathbattlefanon/images/0/0a/Vs_logo.png/revision/latest?cb=20160707222803&format=original" alt="VS" >
      </div>
    </div>
  </div>
