<div class="board">


<h2 class="title"> Versus </h2>

<div class="oneToOne">

    <div><img class="card" src="https://media.senscritique.com/media/000016961568/source_big/La_Planete_des_singes_Suprematie.jpg" alt="Card 1"></div>
    <div><img class="vs-logo" src="https://vignette1.wikia.nocookie.net/deathbattlefanon/images/0/0a/Vs_logo.png/revision/latest?cb=20160707222803&format=original" alt="VS"></div>
    <div><img class="card" src="http://fr.web.img6.acsta.net/r_1280_720/medias/nmedia/18/68/64/41/19254510.jpg" alt="Card 2"></div>

  </div>
</div>
