
<h1 class="title"> Versus </h1>

<div class="container">
  <h2 class="condition">You need to vote for 20/50 more to access to your Top_List </h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="50" style="width:60%">
      30/50
    </div>
  </div>
</div>
<br>
<div class="col-container">
  <div class="row battle aligned-row">
    <div class="col-5"><img class="movie" src="https://media.senscritique.com/media/000016961568/source_big/La_Planete_des_singes_Suprematie.jpg" alt="Card 1"></div>
    <div class="col-2"><img class="vs" src="https://vignette1.wikia.nocookie.net/deathbattlefanon/images/0/0a/Vs_logo.png/revision/latest?cb=20160707222803&format=original" alt="VS" ></div>
    <div class="col-5"><img class="movie" src="http://fr.web.img6.acsta.net/r_1280_720/medias/nmedia/18/68/64/41/19254510.jpg" alt="Card 2"></div>

  </div>

</div>
