body {
  background: url(http://www.horadent.com/i/2017/05/grey-wallpaper-desktop.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 20px;
  margin-top: 67.813px;
}

h2 {
  text-align: center;
  float: inherit;
  margin-top: 90px;
  color: #bbb;
  font-size: 10vh;
}

.align-items-center {
  height: 60vh;
}
a.tile {
  background-color: transparent;
  border: none;
  padding: 0px;
}
img:hover {
  box-shadow: 0 0 100px #ccc;
}
a.arrow {
  position: absolute;
  float: left;
  color: black;
  font-size: 9vh;
  z-index: 5;
}
@media screen and (max-width: 1600px) {
  img {
    width: 30vW;
  }
}
@media screen and (max-width: 800px) {
  .justify-content-center {
    margin-top: 15vh;
  }
  .arrow {
    font-size: 12px;
  }
}
