body {
  background-color: #45464a;
  margin-top: 67.813px;
}

h2 {
  text-align: center;
  float: inherit;
  margin-top: 90px;
  color: white;
  font-size: 10vh;
}

.flex-column {
  max-height: 70vh;
}

img {
  max-width: 60vw;
  height: auto;
}
/*.align-items-center {
  height: 60vh;
}*/
/*a.tile {
  background-color: transparent;
  border: none;
  padding: 0px;
}*/
img:hover {
  box-shadow: 0 0 100px #ccc;
}
@media screen and (min-width: 1024px) {
  .icones {
    margin-top: 15vh;
  }
}
/*@media screen and (max-width: 800px) {
  .justify-content-center {
    margin-top: 15vh;
  }
}*/
