body {
  background-color: #45464a;
  margin-top: 67.813px;
}

h3 {
  text-align: center;
  float: inherit;
  margin-top: 90px;
  color: white;
  font-size: 10vh;
}

/* .flex-column {
  max-height: 70vh;
} */
.eigth {
  background-color: #f41313;
}
.nine {
  background-color: #2013f4;
}
.ten {
  background-color: #14cd12;
}
h2 {
  color: black;
  border-radius: 10px;
  height: 20vh;
  vertical-align: 50%;
}
h2:hover {
  box-shadow: 0 0 100px #ccc;
}
@media screen and (min-width: 1024px) {
  .icones {
    margin-top: 15vh;
  }
  h2 {
    width: 30vw;
    height: 30vh;
  }
}
