body {
  background-color: #e2e2e2;
  margin-top: 30vh;
}

a {
  color: #a4a4a4;
}
input {
  margin: 2px;
}

.send {
  margin-top: 20px;
  background-color: #e2e2e2;
}

.log {
  text-align: center;
  margin-left: 40vw;
  margin-right: 40vw;
  background-color: #a4a4a4;
  border-radius: 10px 10px 10px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 980px) {
  .log {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .send {
    margin-top: 30px;
  }
}
