html {
  font-family: 'Raleway', sans-serif;
}


body {
  margin:0;
  margin-top: 67.813px;
  padding:0;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
}

.navbar {
  background-color: black;
  top: 0;
  position: fixed;
  right: 0px;
  left: 0;
}

.navbar a {
  margin-left: 25px;
}

.home{
  text-align: center;
  margin-top: 35vh;
  color: white;
}

.card{
  height: 300px;
  width: 200px;
  margin: 0px 30px;
}

.vs-logo{
  height: 100px;
  width: auto;
  margin-top: 120px;
}

.title{
  text-align: center;
}

.centered{
  text-align: center;
}

.category-slot{
  height: 100px;
  width: 100px;
  text-align: center;
  margin: 0px 30px 0px 20px;
  border-radius: 20%;
}

.sub-menu{
  margin-left: 30px;
  color: white;
}
