html {
  font-family: 'Raleway', sans-serif;
}


header form{
    float: right;
}

header h1{
  margin-top: 10px;
  margin-right: 10px;
}

.logout{
  background-color: black;
  color: white;
  border-width: inherit;
}

body {
  margin:0;
  margin-top: 67.813px;
  padding:0;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
}

header {
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  height: 67.813px;
  position: fixed;
}

header a {
  margin-left: 25px;
}

.home{
  text-align: center;
  margin-top: 35vh;
  color: white;
}

.battle {
  display: flex;
  align-items: center;
  text-align: center;
}
.battle img {
  max-width: 70%;
}
.battle .movie {
  /*height: 400px;*/
}
.battle .vs {
  /*height: 100px;*/
}
