body {
  background: url(https://s.ppy.sh/images/tournament/default.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 20px;
  margin-top: 67.813px
}

.progress-bar{
  background-color: #404040;
}

h1{
  text-align: center;
}

h2.condition {
  text-align: center;
}

.col-container{
  display: table;
  width: 100%;
}

.col-5{
  display: table-cell;
}


.battle {
  display: flex;

  align-items: center;
  text-align: center;
}

.battle img {
  max-width: 70%;
}
